/**
 * main.c
 *   A test app using {{project.name}} static lib.
 */
#include <common/cstrbuf.h>

#include <{{project.name}}/{{project.name}}_api.h>


int main(int argc, char *argv[])
{
    WINDOWS_CRTDBG_ON

    const char *libname;
    const char *libversion = {{project.name}}_lib_version(&libname);

    printf("start testing: %s-%s\n", libname, libversion);

	// TODO:

    printf("test end.\n");

	system("pause");
    return 0;
}